 <div>
    <button onclick="redirectToLogin()" id="loginBtn" class="loginBtn1">Login</button>
    <button onclick="redirectToLogin()" id="signUpBtn" class="signUpBtn1">SignUp</button>
  </div>
  <div id="landingPageContent">
    <header>
      <h1 id="appTitle">Gallivant</h1>

    </header>
    
      <div class="dropdown">
        <button class="dropbtn">Select City
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Bangalore</a>
          <a href="#">Barcelona</a>
          <a href="#">Berlin</a>
          <a href="#">Dallas</a>
          <a href="#">London</a>
          <a href="#">New York</a>
          <a href="#">Paris</a>
          <a href="#">San Francisco</a>
        </div>
      </div>
    
    <main>
      <p id="landingPageBlurb">Say goodbye to hours of tedious research and hello to instant inspiration! <br>
        Simply input your location or browse through our curated lists to uncover a wealth of fascinating sights, <br>
        activities, and experiences. With detailed descriptions, insider tips, and stunning imagery, <br>
        Gallivant empowers you to make the most of every moment.
      </p>
     
    </main>
  </div>

  <script src="./js/preference.js"></script> 