   <div id = "list" class ="list">
        <header><h1 class="listName">Points of Interests</h1></header>
        <p>Save your favourites</p>
        <div class="POIList" id="PoIList"></div>
        <div class = "btn-container">
          <button id="saveBtn" class="button1">
            Save
          </button>
        </div>
        </div>

<script src="../public/js/preference.js"></script> 