
     <div id = "preference" class ="preference">
    <h1>What did you want to see? </h1>
      <ul>
                <li>
                    <button class="poi">Points of Interest</button>
                </li>
                <li>
                    <button class="attract">Attractions</button>
                </li>
      </ul>
    </div>

<script src="./js/preference.js"></script> 