    <div id = "list" class ="list">
        <header><h1 class="listName">Activities</h1></header>
        <p>Save your favourites</p>
        <div class="activityList" id="activityList"></div>
        <div class = "btn-container">
          <button id="saveBtn" class="button1">
            Save
          </button>
        </div>
        </div>

<script src="./js/activities.js"></script> 