 <div>
     <button id="loginBtn" class="loginBtn1"><a href="/login">Login</a></button>
    <button  id="signUpBtn" class="signUpBtn1"><a href="/login">SignUp</a></button>
  </div>
  <div id="landingPageContent">
    <header>
      <h1 id="appTitle">Gallivant</h1>

    </header>
    
    <main>
      <p id="landingPageBlurb">Say goodbye to hours of tedious research and hello to instant inspiration! <br>
        Simply select your location or browse through our curated lists to uncover a wealth of fascinating sights, <br>
        activities, and experiences. With detailed descriptions, insider tips, and stunning imagery, <br>
        Gallivant empowers you to make the most of every moment.
      </p>

      <section class ="drop-down">
         <div class = "btn-container">
         <button class="dropdown-button">Select a City</button>
         </div>
         <div class="options-container">
        <ul id="dropdown-options" class="dropdown-options">
          <li class="dropdown-option">Bangalore</li>
          <li class="dropdown-option">Barcelona</li>
          <li class="dropdown-option">Berlin</li>
          <li class="dropdown-option">Dallas</li>
          <li class="dropdown-option">London</li>
          <li class="dropdown-option">New York</li>
          <li class="dropdown-option">Paris</li>
          <li class="dropdown-option">San Francisco</li>
        </ul>
        </div>
      </section>
     
    </main>
  </div>

  <script src="./js/home.js"></script> 