
 <div>
     <button  id="homeBtn" class="homeBtn1"><a href="/">Home</a></button>
     <button id="loginBtn" class="loginBtn1"><a href="/login">Login</a></button>
    <button  id="signUpBtn" class="signUpBtn1"><a href="/login">SignUp</a></button>
  </div>

  <h1 id='savedCity'></h1>

   
   <div id = "list" class ="list">
        <header><h1 class="listName">Points of Interests</h1></header>
  
<div id='poiDisplay'></div>

 <script src="./js/poi.js"></script> 