   <body>
  <h1>{{cityDisplay}}</h1>

   
   <div id = "list" class ="list">
        <header><h1 class="listName">Points of Interests</h1></header>
      <p>
      {{name}}
    </p>
    <p>
      {{location}}
    </p>
        </div>

</body>

<script src="./js/poi.js"></script> 