
     <div id = "preference" class ="preference">
    <h1 id="prefTitle">What did you want to see? </h1>
      <ul>
                <li>
                    <button class="poi"><a href="/poi">Points of Interest</a></button>
                </li>
                <li>
                    <button class="activity"><a href="/activities">Activities</a></button>
                </li>
      </ul>
    </div>

